:host::ng-deep {
    //Skeleton
.skeleton-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .skeleton-image,
  .skeleton-text,
  .skeleton-button {
    background-color: #e0e0e0; /* Màu xám tương ứng */
    border-radius: 4px;
  }
  
  .skeleton-image {
    width: 300px;
    height: 500px;
  }
  
  .skeleton-text {
    height: 16px;
    width: 80%;
    margin-bottom: 8px;
  }
  
  .skeleton-button {
    height: 36px;
    width: 150px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  /* Hiệu ứng chớp tắt cho skeleton */
  @keyframes skeleton-loading {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  
  .skeleton-container .skeleton-image,
  .skeleton-container .skeleton-text,
  .skeleton-container .skeleton-button {
    animation: skeleton-loading 1.5s infinite;
  }
  
}

.main-content {
  position: relative;
  height: 100%;
}