<div id="sdk-dialog">
    <div class="modal-confirmDialog text-center">
        <i [ngClass]="getClassOfType(true)"></i>
        <h1 [ngClass]="['m-3', getClassOfType(false)]">{{ data?.title }}</h1>
        <p>{{ data?.detail }}</p>
    </div>
    <div class="d-flex justify-content-center sdk-dialog__button mt-10">
        <ng-container *ngIf="data?.type === 'warning'">
            <button mat-raised-button color="primary" (click)='close(false)'>
                {{ data.closeBtn || "Cancel" }}
            </button>

            <button mat-raised-button color="warn" (click)='close(true)'>
                {{ data.submitBtn || "Submit" }}
            </button>
        </ng-container>

        <ng-container *ngIf="data?.type !== 'warning'">
            <button mat-raised-button color="primary" (click)='close(false)'>   
                {{ "OK" }}
            </button>
        </ng-container>
    </div>
</div>
