// Start
// CSS for dialog content payment 
.content-dialog {
    width: 400px; 
    min-height: 80px; 
    line-height: 30px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding-bottom: 12px;
}

.action-dialog {
    justify-content: center; 
    padding-bottom: 24px;
}

// End